* {
    margin: 0;
    padding: 0%;
}
a {
    text-decoration: none;
}
body {
    font-family: sans-serif;
}
.header {
    background-color: #222222;
    padding: 18px 0px 19px 0px;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    margin-right: 41px;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__item:not(:last-child){
    margin-right: 33px;
}
.shop__count {
    position: relative;
}
.count {
    position: absolute;
    width: 19px;
    height: 19px;
    background: #F16D7F;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    top: -10px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.intro {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}
.intro__wrap {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: url(img/man_png.png);
    background-repeat: no-repeat;
    background-position: -228px 0;
}
.intro__text {
    max-width: 377px;
}
.intro__h1 {
    font-family: sans-serif;
}
.text__color {
    color:  #F16D7F;
}
.intro__text h1 {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;

}
.info__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 96px;
}
.info__card {
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.info__card:last-child {
    max-height: 180px;
    width: 100%;
}
.info__women {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/women_info.png);
}
.info__men {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/men_info.png)
}
.info__kids {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/kids_info.png);
}
.info__accesories {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/accesories_info.png);
}
.info__text {
    max-width: 160px;   
}
.info__h2 {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
}
.info__sapn {
    font-size: 23px;
    color: #F16D7F;
}
.h2__p {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;
}
.text__h2 {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}
.text__p {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.cards__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
}


.card {
    max-width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
    position: relative;
    transition: 0.5s;
}
.card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
  
    opacity: 0;
    transition: 0.5s;
}
  .card:hover .overlay {
    opacity: 1;
}
.card__btn {
    cursor: pointer;
    /* border: none; */
    background: transparent;
    border: 1px solid #FFFFFF;
}
.btn__padding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 16px 8px 13px; 
}
.btn__truck {
    
    padding-right: 11px;
}
.btn__text {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.card__img {
    margin-bottom: 25px;   
}
.card__h3 {
    margin-bottom: 13px;
    padding-left: 18px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.card__p {
    margin-bottom: 18px;
    padding-left: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.card__price {
    padding-bottom: 20px;
    padding-left: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.button {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 15px 49px;
    outline: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}
.footer {
    margin-top: 95px;
}
.fotter__background {
    min-height: 341px;
    background:#222224;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
}
.footer__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__h3 {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    opacity: 0.9;
}
.footer__text {
    text-align: center;
    padding-top: 16px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    opacity: 0.6;
}
.car__img {
    padding-bottom: 28px;
}
.sales__img {
    padding-bottom: 19px;
}
.crown__img {
    padding-bottom: 25px;
}
.footer__middle {
    background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
    url(img/footer__middle.png);
    min-height: 448px;
    background-size: cover;
    background-repeat: no-repeat;
}
.subscribe__padding {
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
}
.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    text-align: center;
}
.photo__text {
    padding-top: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}
.form {
    min-width: 557px;
    min-height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe__text {
    text-align: center;
    padding-bottom: 32px;
}
.subscribe__p {
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
}
.subscribe__button {
    display: flex;
    min-width: 356px;
    min-height: 49px;
}
.input__subscribe {
    background: #E1E1E1;
    border: none;
    padding: 8px 64px 8px 22px;
    border-radius: 20px 0 0 20px;
}
.button__subscribe {
    background: #F16D7F;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 8px;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.fotter__background__down {
    min-height: 79px;
    background:#222224;
}
.fotter__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}
.social {
    display: flex;
    align-items: center;
}
.social__buttom {
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.copy {
    font-size: 13px;
    line-height: 19px;
    color: #FBFBFB;
}
.social :not(:last-child) {
    margin-right: 7px;
}
.social__buttom__1 {
    border: none;
}
.social__buttom__1 :hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}
.content__top {
    min-height: 148px;
    background: #F8F3F4;;
}
.top__tex {
    min-height: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top__p {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.crumb {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.crumbs :last-child {
    color: #F16D7F;
}
.filter__flex {
    display: flex;   
}
summary {
    display: block;
    cursor: pointer;
}
summary::-webkit-details-marker {
    display: none;
}
.filter {
    margin-top: 51px;
    margin-bottom: 64px;
}
.filter__button {
    position: relative;   
    min-width: 362px;
    box-sizing: border-box;
    
}
.filter__button [open] {
    background: #FFFFFF;
    /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
}
.filter__button [open]>summary {
    color: #F16D7F;
}
.filtr__app {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 16px;
}
.filter__all {
    position: absolute;
    z-index: 1;
    min-width: 327px;
    background-color: #FFFFFF;
    padding: 16px 17px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__summary {
    border-left: 5px solid #F16D7F;
    padding-left: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    border-bottom: 1px solid #EBEBEB;
}
.filter__titel {
    padding-bottom: 18px;
}
ul {
    list-style-type: none;
}
.filter__li {
    
    padding-left: 34px;
    padding-top: 24px;
}
.li__a {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.size {
    padding-left: 304px;
    display: flex;
}
.details__size {
    padding-right: 27px;
}
.size__summary {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.size__text {
    padding-right: 10px;
}
.product {
    background: #F7F7F7;
    display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    &__img {
        width: 597px;
    }
    &__btn {
        background: rgba(42, 42, 42, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
        height: 47px;
        position: absolute;
        border: none;
        cursor: pointer;
    }
    &__btn :hover>svg {
        fill: #F16D7F;;
    }
    &__button__left {
        left: 5px;
    }
    &__button__right {
        right: 5px;  
    } 
}
.collection {
    min-height: 601px;
    border: 1px solid #EAEAEA;
    margin-top: -20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #EAEAEA;
        & h3 {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #F16D7F;
            padding-top: 64px;
        }
        & hr {
            width: 63px;
            border: 0;
            height: 3px;
            background: #F16D7F;
            margin-top: 12px;
        }
        & h2 {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #4D4D4D;
            padding-top: 12px;
        }
        & p {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            max-width: 555px;
            color: #5E5E5E;
            padding-top: 48px;
            opacity: 0.7;
        }
        & span {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #EF5B70;
            padding-top: 32px;
            padding-bottom: 65px;
        }
    }
    &__down__size {
        display: flex;
        padding-top: 65px;
    }
    &__down__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 48px;
        & button {
            cursor: pointer;
            background: #FFFFFF;
            color: #EF5B70;
            font-size: 16px;
            line-height: 19px;
            border: 1px solid #EF5B70;
        }
    }

}
.collection__btn {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 11px 16px 8px 13px;
    &__padding {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px 16px 8px 13px;
        & img {
            padding-right: 23px;
        }
    } 
}
.product__card {
    margin-top: 129px;
}
.cart {
    margin-bottom: 40px;
}
.content-cart {
    margin-top: 95px;
    margin-bottom: 128px;
}
.cart {
    display: flex;
    max-width: 652px;
    min-height: 306px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    &__text {
        display: flex;
        padding: 22px 22px 62px 31px;
    }
}
.left {
    max-width: 262px;
    & h3 {
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        padding-bottom: 42px;
    }
    & p {
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        padding-bottom: 6px;
    }
    & span {
        color:  #F16D7F;
    }
}
.right {
    padding-left: 95px;
}
.quantity {
    display: flex;
    & div {
        font-size: 18px;
        line-height: 22px;
        color: #656565;
        margin-left: 40px;
        border: 1px solid #EAEAEA;
        min-width: 43px;
        height: 24px;
        text-align: center;
    }
}
.cart__btn {
    display: flex;
    justify-content: space-between;
    max-width: 652px;
    margin-top: 72px;
    & button {
        padding: 16px 40px;
        color: #000000;
        border: 1px solid #A4A4A4;
        background: #FFFFFF;
        cursor: pointer;
    }
}
.contnt-cart__right {
    max-width: 360px;
}
.cart__felx {
    display: flex;
}
.contnt-cart__right {
    margin-top: 113px;
    margin-left: 128px;
}
.cart__form {
    display: flex;
    flex-direction: column;
        & p {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            padding-bottom: 20px;
        }
        &__addres {
            box-sizing: border-box;
            border: 1px solid #A4A4A4;
            min-width: 359px;
            min-height: 44px;
            margin-bottom: 21px;
            padding: 12px 277px 16px 17px;
            
        }
        &__btn {
            max-width: 100px;
            min-height: 34px;
            box-sizing: border-box;
            border: 1px solid #A4A4A4;
            cursor: pointer;
            background: #FFFFFF;
        }
}
.checkout {
    max-width: 360px;
    min-height: 214px;
    background: #F5F3F3;
    margin-top: 57px;
     &__add {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 39px 34px 42px 43px;
        & p {
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            padding-bottom: 12px;
            & .sub__total {
                padding-left: 15px;
            }
        }
        & h4 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            padding-bottom: 21px;
            & .grand__total {
                color: #F16D7F;
                padding-left: 20px;
            }
        }
        & hr {
           color: #E2E2E2;
           width: 275px;
           background: #E2E2E2;
           height: 1px;
        }
        & button {
            border: none;
            background: #F16D7F;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 15px 42px;
            margin: 12px;
        }
     } 
}
.registration {
    display: flex;
    margin-top: 64px;

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        & .radio {
            margin-right: 10px;
        }
        & p {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            padding-bottom: 20px;
        }
        & input {
            border: 1px solid #A4A4A4;
            padding: 12px 277px 15px 16px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
        }
        & fieldset {
            margin-bottom: 31px;
            margin-top: 31px;
            border: none;
        }
        & fieldset :nth-child(2) {
            margin-right: 20px;
        }
        &__margin {
            margin-bottom: 21px;
        }
        &__p {
            margin-top: 15px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            opacity: 0.7;
        }
        & button {
            font-size: 13px;
            line-height: 17px;
            color: #FFFFFF;
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            padding: 16px 66px 17px 29px;
            max-width: 167px;
            border: none;
            cursor: pointer;
        }
    }
    &__perks {
        margin-left: 128px;
        max-width: 652px;
    } 
        & h3 {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            padding-bottom: 22px;
        }
        & .registration__perks_p {
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            padding-bottom: 21px;
            opacity: 0.9;
        }
        & img {
                margin-right: 22px;
        }
        & div :not(:last-child){
            padding-bottom: 16px;
            & p {
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
            }
        }
}